.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: calc(100vh - 50px);
}
.titreContent {
    margin-top: 50px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlebis {
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;

    height: fit-content;
}

.form input, select {
    padding: 15px 30px;

    width: 200px;
}
select{
    width: 264px!important;
}
.form label {
    margin-top: 20px;
    margin-bottom: 5px;
    opacity: 0.3;
}

.form input:last-child{
    margin: 0 auto;
    margin-top: 30px;
}

.form.two > input {
    width: fit-content;
    margin-top: -20px;
    font-size: 12px;
    background-color: var(--black);
    color: var(--white);
}
p{
    font-size: 12px;
    margin-top: -45px;
}