.content {
    position: relative;
    height: calc(100vh - 50px);
}

form, .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea:focus {
    outline: none;
}

form {
    height: calc(100% - 50px);
}

form > textarea {
    background-color: transparent;
    border: none;
    width: 60%;
    resize: none;
}

form > textarea.article {
    margin-top: 20px;
    font-size: 20px;
    flex-grow: 1;
}

.content > .button{
    position: absolute;

    top: 0;
    right: 0;
}

.popup {
    z-index: 20;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    width: 500px;
    height: fit-content;
    border-radius: 20px;
    padding: 50px;
    background-color: var(--white);

    align-items: start;
    box-sizing: border-box;
}

.popup.unactive {
    display: none;
}

.popup input:not(input[type="submit"]) {
    width: -webkit-fill-available;

    margin-bottom: 30px;
    margin-top: 10px;
}

.popup input[type="submit"]{
    margin: 30px auto 0px auto ;
}


/*tags*/

.tag {
    display: flex;
    gap: 50px;
}

.tag label {
    margin-right: 15px;
    opacity: 0.3;
}

.tag input, .popup input:not(input[type="submit"]){
    padding: 15px 30px;
}

select {
    padding: 16px 30px;
    background-color: #fff;
    color: #333;
    border: 1px solid rgb(118, 118, 118);
    appearance: none;

    font-size: 12px;
}